<aside class="change-pwd" [style.display]="display">
  <div>
    <h1>修改密码</h1>
    <input type="password" placeholder="请输入旧密码" [(ngModel)]="oldPsw">
    <input type="password" placeholder="请输入新密码" [(ngModel)]="password">
    <input type="password" placeholder="请再次输入新密码" [(ngModel)]="passwordAgain">
    <!-- 错误提示 -->
    <p class="error-msg">{{errorMsg}}</p>
    <button type="button" (click)="reset()">确认修改</button>
    <!-- 关闭图标按钮 -->
    <span class="icon icon-close" (click)="hidden()"></span>
  </div>
</aside>