<footer class="footer">
    <div class="left">
        <span class="btn">
            初始化
        </span>
        <span class="btn">
            自动运行
        </span>
    </div>
    <div class="right">
        <table class="table">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>贴合精度</th>
                    <th>复检信息</th>
                    <th>对位次数</th>
                    <th>保压时间(ms)</th>
                    <th>设备id</th>
                    <th>工单号</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of assembling.detailproduct;">
                    <td>{{item.SN}}</td>
                    <td>{{item.precision}}</td>
                    <td>{{item.checkinfo}}</td>
                    <td>{{item.matchtimes}}</td>
                    <td>{{item.presstime}}</td>     
                    <td>sgfdgdfg</td>
                    <td>{{item.jobNumber}}</td>
                    <td>{{item.time}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</footer>