<section class="section">
<div class="left">
    <div class="status">
        <div class="con">
            <span class="txt"> 贴合结果 </span>{{successinfo}}
        </div>
    </div>
    <div class="control-recoed">
        <ul class="list" id="js_logDiv">
            <li  *ngFor="let log of logs ">{{log.time|date:'yyyy-MM-dd HH:mm:ss'}},{{log.loginfo}} </li>
        </ul>
    </div>
</div>
<div class="center">
    <ul class="img">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="sn">
        <span class="name">
            SN
        </span>
        <input type="text" name="" id=""  [(ngModel)]="headerinfo.SN">
    </div>
</div>
<div class="right">
    <div class="controls">
        <div class="tabs">
            <span class="active">ANSIC</span>
            <span>IOS</span>
            <span>JIS</span>
        </div>
        <select class="select" name="" id="">
                <option value="">
                    1张
                </option>
                <option value="">
                    2张
                </option>
                <option value="">
                    3张
                </option>
                <option value="">
                    4张
                </option>
            </select>
    </div>
    <ul class="check-box">
        <li> 急停</li>
        <li class="active">安全门</li>
        <li class="active">镭射通信</li>
        <li class="active">条码枪通信</li>
        <li class="active">DP2通信</li>
        <li class="active">正气源状态</li>
        <li class="active">机械手通信</li>
        <li class="active">负气源状态</li>
        <li class="active">CCD通信</li>
        <li>机械手报警</li>
    </ul>
    <ul class="detial">
        <li>
            <span class="num">{{headerinfo.totalnumber}}</span>
            <span class="del">成品数量</span>
        </li>
        <li>
            <span class="num">{{headerinfo.goodnumber}}</span>
            <span class="del">良品数</span>
        </li>
        <li>
            <span class="num">{{headerinfo.badnumber}}</span>
            <span class="del">不良数</span>
        </li>
        <li>
            <span class="num">{{headerinfo.goodnumber/headerinfo.totalnumber}}</span>
            <span class="del">良品率</span>
        </li>
        <li>
            <span class="num">{{headerinfo.CT}}s</span>
            <span class="del">CT</span>
        </li>

    </ul>
    <div class="charts">

    </div>
    <div class="up-button">
        SFIS 上传OK
    </div>
</div>
</section>