<article class="main">
    <headinfo  [headerinfo]="headerinfo"     [logs]="logs" [configinfomation]="configinfo"  [userinformation]="loginStatus" [goodnumber]="goodtotal" [CTendtime]="ctendtime" [failnumber]="failtotal" ></headinfo>

        <leftInfo  [protime]="protimenumber" [headerinfo]="headerinfo" [successinfo]="successinfo"  [logs]="logs"></leftInfo>
    
    <footerinfo [assembling]="assembling" [configinfos]="configinfo"></footerinfo>
</article>

<!-- <article>
 <headinfo [headerinfo]="headerinfo" (configisShow)="showconfig($event)" (ioisShow)="showIo($event)" (isUseShowfun)="showfunlog($event)" (ispointPanelShow)="showpointpanel($event)" [logs]="logs" [configinfomation]="configinfo" (isloginPanelShow)="loginshow($event)" [userinformation]="loginStatus" [goodnumber]="goodtotal" [CTendtime]="ctendtime" [failnumber]="failtotal" (ischangepwdPanelShow)="changepwd($event)"></headinfo>
    <section>
         <assemble-info [assembling]="assembling" (sendGoodnumber)="getgoodnumber($event)" (sendfailnumber)="getfailnumber($event)" [headerinfo]="headerinfo" ></assemble-info> 
        <keycaps ></keycaps>
    </section>
    <keycapsdetail [assembling]="assembling" [configinfos]="configinfo"></keycapsdetail>
   
</article>
<div class="mask" [hidden]="maskshow"></div>
<io-panel [hidden]="configShow" class="dialog" (configisShow)="showconfig($event)" (configinfos)="showconfiginfo($event)"></io-panel>
<config-panel [hidden]="isShow" class="dialog" (ioisShow)="showIo($event)"></config-panel>
<log-panel class="dialog" [hidden]="logshow" (logpanelisShow)="showlogpanel($event)"></log-panel>
<point-panel class="dialog" [hidden]="pointshow" (ispointPanelShow)="showpointpanel($event)"></point-panel>
<login-panel  (loginResult)="getuserinfo($event)"></login-panel>
<change-password [userinformation]="loginStatus"></change-password> -->