<header class="header">
    
                <h1 class="title">
                    设备名称及软件名称：{{configinfomation.configname}}({{configinfomation.configid}})
                </h1>
    
                <div class="nav">
                    <div class="logo"></div>
                    <ul class="controls">
                        <li class="control-item">
                            <span class=" icon icon-home active"></span>
                        </li>
                        <li class="control-item">
                            <span class="icon icon-file2"></span>
                        </li>
                        <li class="control-item">
                            <span class="icon icon-setting"> </span>
                        </li>
                        <li class="control-item" (click)="startUp()">
                            <span class="icon icon-start"> </span>
                        </li>
                        <li class="control-item" (click)="reset()">
                            <span class="icon icon-refesh"></span>
                        </li>
                        <li class="control-item" (click)="suspend()">
                            <span class="icon icon-hold-on"></span>
                        </li>
                        <li class="control-item" (click)="emergencyStop()">
                            <span class="icon icon-stop3"></span>
                        </li>
                        <li class="control-item">
                            <span class="icon icon-users"></span>
                        </li>
                    </ul>
                </div>
    
            </header>

    
