<table class="table" style="margin-bottom:1rem">
    <caption>
        扣合运料点位
    </caption>
    <thead>
        <tr>
            <th>A-扣合运料</th>
            <th>X</th>
            <th>y</th>
            <th>z</th>
            <th>z1</th>
            <th>z2</th>
            <th>z3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>起始位</td>
            <td>0.000</td>
            <td>0.000</td>
            <td>0.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>上下键取料位</td>
            <td>-10.389</td>
            <td>-163.101</td>
            <td>-40.150</td>
            <td>0</td>
            <td>-11.870</td>
            <td>-11.618</td>

        </tr>
        <tr>
            <td>ENTER键取料位</td>
            <td>-3.242</td>
            <td>-205.528</td>
            <td>-26.072</td>
            <td>-1.584</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>空格键取料位</td>
            <td>-2.989</td>
            <td>-208.725</td>
            <td>-46.184</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>上键扣合位</td>
            <td>-9.589</td>
            <td>-19.734</td>
            <td>-39.860</td>
            <td>0</td>
            <td>-8.479</td>
            <td>0</td>
        </tr>
        <tr>
            <td>下键扣合</td>
            <td>-8.482</td>
            <td>12.835</td>
            <td>-39.859</td>
            <td>0</td>
            <td>0</td>
            <td>-8.455</td>
        </tr>
        <tr>
            <td>空格键扣合</td>
            <td>-1.769</td>
            <td>6.624</td>
            <td>-42.831</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>

    </tbody>
</table>


<table class="table">
    <caption>
        PCB点位
    </caption>
    <thead>
        <tr>
            <th>取PCB</th>
            <th>X</th>
            <th>y</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>起始位</td>
            <td>-104.796</td>
            <td>48.348</td>

        </tr>
        <tr>
            <td>取料位</td>
            <td>-0.006</td>
            <td>-49.025</td>


        </tr>
        <tr>
            <td>放料位</td>
            <td>125.834</td>
            <td>-6.624</td>

        </tr>
        <tr>
            <td>微压位</td>
            <td>125.834</td>
            <td>-8.389</td>

        </tr>
        <tr>
            <td>组装位</td>
            <td>18.212</td>
            <td>-35.417</td>

        </tr>
        <tr>
            <td>下键扣合</td>
            <td>-8.482</td>
            <td>12.835</td>

        </tr>
        <tr>
            <td>空格键扣合</td>
            <td>-1.769</td>
            <td>6.624</td>

        </tr>

    </tbody>
</table>